* {
    padding: 0%;
    margin: 0%;
}




/* NAvBar */

.navbar {
    position: fixed;
    background-color: white;
    width: 100%;
    font-family: Tahoma;
    z-index: 1000;
}

.collapse {
    float: right;
}




/* First Section */
.FirstSection {
    /* clear: both; */
    background-color: rgb(245, 245, 245);
    background-size: cover;
    z-index: 1;
}

.SelectYourNew {
    margin: auto;
}

.SelectYourNew h1 {
    font-family: lato;
    font-weight: bold;
    font-size: 85px;    
}

.RolexVideo {
    width: 50%;
    border: none;
    border-radius: 5px;
}

.btn {
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma;
    font-size: 15px;
}




/* Second Section */
.NewProducts {
    font-family: lato;
    font-weight: bold;
    margin-top: 40px;
    z-index: 2;
}

.products111 {
    text-align: center;
    font-family: lato;
    font-weight: bold;
    font-size: 20px;
}
.price111 {
    text-align: center;
    font-family: lato;
    font-weight: bold;
    font-size: 17px;
    color: red;
}

.SecondSection img {
    display: flex;
    margin: auto;
    transition: transform 1s;
    width: 100%;
    height: 50%;
}
.ImgNewProd:hover {
    transform: scale(1.1);
}
.ExploreMore {
    float: right;
}
.ExploreMore:hover {
    text-decoration: none;
}




/* Third Section */
.ThirdSection {
    margin-top: 200px;
    z-index: 3;
}

.Pupolaritems {
    text-align: center;
    font-family: lato;
    font-weight: bold;
}

.ParaPupolarItems {
    text-align: center;
}

.ImgPopularItems {
    display: flex;
    position: relative;
    width: 70%;
    height: 70%;
    margin: auto;
    transition: transform 1s;
}
.ImgPopularItems:hover {
    transform: scale(1.1);
}

.ButtonPopularItems {
    display: block;
    margin: auto;
    border: none;
    border-radius: 5px;
    outline: 0;
    padding: 10px;
    color: white;
    background-color: rgb(255, 0, 0);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 15px;
}
  
  .ButtonPopularItems:hover {
    opacity: 0.7;
    text-decoration: none;
    color: white;
}

.DivPopularProduct {
    margin-bottom: 50px;
}




/* Fourth Section */
.FourthSection {
    overflow: hidden;
    margin-top: 150px;
    z-index: 4;
}


/* footer */
.page-footer {
    font-family: lato;
    font-weight: bold;
}

.TimeZone {
    background-color: rgb(255, 255, 255);
    padding: 1%;
    
}








